<div class="headline"><h2>101companies Ruby on Rails Web App</h2></div>
<div class="content">
  <h1>Editing company</h1>
  <%= render 'form' %>
  <hr>
  <div class="attr">
  	<p>
  		<h3>Sub departments:</h3>
  	</p>
  	<% @company.departments.each do |department| %>
  		<p>
    		<%= department.name %>
    		<%= link_to 'Remove', department, :confirm => 'Are you sure?', :method => :delete %>
  		</p>
  	<% end %>
  </div>
  <h3>Add a department:</h3>
   <%= form_for([@company, @company.departments.build]) do |f| %>
  	  <div class="field">
    	<%= f.label :name %><br />
    	<%= f.text_field :name %>
  	  </div>
  	  <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>
  <%= link_to 'Show', @company %> |
  <%= link_to 'Back', companies_path %>
</div>
