<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3><%= f.label :name %><br /></h3>
    <%= f.text_field :name %>
  </div>
  <hr>
  <div class="field">
    <h3><%= f.label :address %><br /></h3>
    <%= f.text_field :address %>
  </div>
  <hr>
  <div class="field">
    <h3><%= f.label :salary %><br /></h3>
    <%= f.text_field :salary %>
  </div>
  <hr>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
